<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Artistry Agora</title>
  </head>
  <body>
    <div style="max-width: 540px; margin: auto; font-family: 'Clash Grotesk', sans-serif">
      <!-- <img
        src="https://modernfullstack.pages.dev/modernfullstack-logo.png"
        style="display: block; margin: auto; margin-bottom: 1rem; max-width: 10rem"
        alt="Logo"
      /> -->

      <h1 style="text-align: center">Welcome My Brother</h1>

      <div
        style="
          text-align: center;
          background: linear-gradient(90deg, #fdc62a 0%, #fff09e 100%);
          border-radius: 12px;
          background: linear-gradient(90deg, #fdc62a 0%, #fff09e 100%);
          border-radius: 16px;
          padding: 1.5rem;
        "
      >
        <h1>Verify your email with OTP</h1>
        <p>Please verify your email account by entering the OTP below</p>

        <h2
          style="
            display: block;
            text-decoration: none;
            color: #530279;
            border-radius: 18px;
            min-width: 100%;
            border: none;
            letter-spacing: 0.5rem;
            font-size: 48px;
            line-height: 60px;
            outline: none;
          "
        >
          {{otp}}
          <p></p>
        </h2>
      </div>
      <p style="padding-top: 1rem">Welcome aboard! We're thrilled to have you here.</p>

      <p>
        Thanks,<br />
        Artistry Agora Team
      </p>
      <hr />
      <div style="text-align: center">
        <h3>Become a part of the Artistry Agora community</h3>
        <p>Get access to a community that helps you upskill, achieve your dreams and get rewarded for learning.</p>
        <a
          href="#"
          style="
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 12px 32px;
            gap: 8px;
            text-decoration: none;
            border: 1.5px solid #5765f2;
            border-radius: 8px;
            margin: 0 auto;
            width: fit-content;
            font-weight: 500;
            text-align: center;
          "
        >
          <img
            src="https://assets-global.website-files.com/6257adef93867e50d84d30e2/636e0a69f118df70ad7828d4_icon_clyde_blurple_RGB.svg"
            style="height: 20px; width: 20px"
          />
          Join Discord server</a
        >
      </div>
      <hr />
    </div>
  </body>
</html>
